::-webkit-scrollbar {
    width: 10px;
    }
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #FD9319;
    
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(115.95deg, #2B8180 0%, #FC712B 99.52%);
        border: #000000  solid 2px;
    }
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }