.CustomButton{
    cursor: pointer;
    text-align: center;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 50px;
    border: solid 2px #FF3F3A;
    transition: 0.3s;
}
.CustomButton_title{
    color: white;
    margin: auto 40px auto 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
}

.CustomButton:hover{
    border: solid 2px white;
    transition: 0.3s;
}

.CustomButton:focus{
    background-color: gray;
}

.CustomButton:active{
    background-color: black;
}